nav{
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
}

.logo{
  height: 100%;
}

.page-links{
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}